<h1>Employees Liste</h1>

<p>This component demonstrates fetching data from the server.</p>

<p *ngIf="!employees"><em>Loading...</em></p>

<table class='table table-striped' *ngIf="employees">
  <thead>
    <tr>
      <th>name</th>
      <th>pname</th>
      <th>email</th>
      <th>role</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let employee of employees">
      <td>{{ employee.nom }}</td>
      <td>{{ employee.prenom }}</td>
      <td>{{ employee.mail }}</td>
      <td>{{ employee.role }}</td>
    </tr>
  </tbody>
</table>
